html, body {
  margin: 10px;
  //Se recoge la varable "global" desde theme.css del tema vela-blue de primeng
  background: var( --surface-b );
  font-family: var( --font-family );
}

.text-layout {
  color: var( --text-color )
}
